.Presentacion__header__container {
    position: relative;
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/geagestionsostenible-test.appspot.com/o/presentacion.jpg?alt=media&token=caa46c50-7cef-4a75-8924-b9e333b24673");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Presentacion__header__caja {
    position: relative;
    width: var(--widthDesk);
    left: var(--leftDesk);
}
.Presentacion__headerText {
    font-weight: var(--light);
    padding: 40px 0;
    color: var(--marron);

}
.Presentacion__headerText span {
    font-weight: var(--bold);
}
.Presentacion__headerText__container {
    position: relative;
    left: var(--marginLeft);
    width: 70%;
}
.Presentacion__cuerpo__container {
    width: 100%;
    background-color: var(--blanco);
}
.Presentacion__cuerpo__caja {
    position: relative;
    width: var(--widthDesk);
    left: var(--leftDesk);
}
.Presentacion__textos__container {
    padding-top: 40px;
    position: relative;
    left: var(--marginLeft);
    width: 70%;
}
.textoVerde {
    color: var(--verde);
}
.brAlto {
    margin-top: 20px;
}
/*Que proponemos*/
.QueProponemos__header__container {
    background-color: var(--celeste);
    padding-bottom: 110px;
}
.QueProponemos__headerText__container {
    text-align: center;
}
.QueProponemos__headerText__container p {
    font-style: italic;
    /* font-size: 28px; */
    font-size: clamp(10px, 2vw, 28px);
    line-height: 40px;
}
.QueProponemos__botones__container {
    position: relative;
    width: calc(var(--widthDesk) - 40px);
    left: var(--leftDesk);
    top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: start;
    padding: 0 20px;
}

/*SubSeccion1*/
.SubSeccion__header__container {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center -300px ;
    background-size: cover;
}
.SubSeccion__header1 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/geagestionsostenible-test.appspot.com/o/medicion_de_impacto.jpg?alt=media&token=9be162cd-5c13-4660-ac6d-2571b2398895");
}
.SubSeccion__header2 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/geagestionsostenible-test.appspot.com/o/gestion_sostenible.jpg?alt=media&token=69e1e90c-4849-4be8-84b7-26062f5e90f8");
}
.SubSeccion__header3 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/geagestionsostenible-test.appspot.com/o/acciones-compensacion.jpg?alt=media&token=32b6e7ee-5fe2-491d-871a-a8447b9dfcfe");
}
.SubSeccion__header4 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/geagestionsostenible-test.appspot.com/o/actividades-ambientales.jpg?alt=media&token=b392c1fd-3bff-4fd1-bd16-053e1f5de570");
}
.SubSeccion__header5 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/geagestionsostenible-test.appspot.com/o/formacion.jpg?alt=media&token=4b10dafe-2762-42d9-abca-b68a3341fbe8");
}
.SubSeccion__header__caja {
    position: relative;
    width: var(--widthDesk);
    left: var(--leftDesk);
}
.SubSeccion__headerText {
    font-weight: var(--bold);
    padding: 80px 0;
    color: var(--marron);
    font-size: 54px;
    font-size: clamp(30px 2vw 54px); 
    line-height: 70px;
}
.SubSeccion__headerText__container {
    position: relative;
    left: var(--marginLeft);
    width: 70%;
}
.SubSeccion__cuerpo__container {
    width: 100%;
    background-color: var(--blanco);
}
.SubSeccion__cuerpo__caja {
    position: relative;
    width: var(--widthDesk);
    left: var(--leftDesk);
}
.SubSeccion__textos__container {
    padding-top: 40px;
    position: relative;
    left: var(--marginLeft);
    width: 70%;
}
.celeste {
    color: var(--celeste)
}
.Flecha__contenedor {
    position: fixed;
    bottom: 40px;
    right: 40px;
    margin: auto;
    width: 80px;
    height: 80px;
    z-index: 400;
    animation: bounce2 4s ease infinite;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}
.Flecha__contenedor:hover {
    cursor: pointer;
}

.Flecha__contenedor.visible {
    opacity: 1; 
  }

  @keyframes bounce2 {
      0%, 10%, 25%, 40%, 50% {transform: translateY(0);}
      20% {transform: translateY(-20px);}
      30% {transform: translateY(-10px);}
}

.Subsecciones__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    animation-fill-mode: forwards;
}

.Subseccion{
    position: absolute;
    top: 0;
    transition: left 1s, opacity 1s;
}

.aparecer {
    position: relative;
    left: 0;
    opacity: 1;
}

.desaparecer {
    position: absolute;
    left: -100%;
    opacity: 0;
}
/*Triptico*/
.Triptico__container{
    width: 100%;
}
.Triptico__items__container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Triptico__item__container {
    line-height: 0;
}
.Triptico__img {
    width: 100%;
}
/*Quienes somos*/
.QuienesSomos__container {
    background-color: var(--blanco);
}
.QuienesSomos__header__container {
    background-color: var(--blanco);
    padding-bottom: 110px;
}
.QuienesSomos__headerText__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}
.QuienesSomos__headerText {
    color: var(--marron);
    font-weight: var(--light);
    line-height: clamp(66px, 5.2vw, var(--sizeTitulo));
    margin: 0;
    text-align: end;
}
.QuienesDestacado {
    position: relative;
    top: 4px;
    left: 10px;
    font-family: var(--fontNormal);
    font-weight: var(--thin);
    font-size: clamp(var(--sizeDestacado), 2vw, 60px);
    line-height: clamp(var(--sizeDestacado), 2.3vw, 60px);
}
.QuienesSomos__cv__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 82%;
    left: 9%;
    gap: 40px;
    align-items: start;
    margin-top: 20px;
    padding-bottom: 50px;
}
.QuienesSomos__cv__item {
    width: 33%;
}
.QuienesSomos__fotoCv__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.QuienesSomos__fotoCv__imgContainer {
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    aspect-ratio: 1;
    width: 60%;
}
.QuienesSomos__fotoCv.foto1{
    width: 135%;
    margin-left: -20%;
}
.QuienesSomos__fotoCv.foto2{
    width: 170%;
    margin-left: -40%;
}
.QuienesSomos__fotoCv.foto3{
    width: 100%;
    margin-top: -30%;
    margin-left: 0%;
}
.QuienesSomos__nombreCv {
    font-style: italic;
    margin: 30px 0 25px 0;
}
.QuienesSomos__parrafoCv {
    margin-bottom: 20px;
}
